Package: simeis-server-tev
Version: 1.1.4
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Valentin-Droid <valentin@example.com>
Depends: cmatrix
Description: Serveur Simeis Serveur du projet Simeis, compilé en Rust.
